.messege {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
    word-break: break-all;
    max-width: 700px;
}
.messege img {
    width: 50px;
}

div[id="0"] {
    color: red;
}
