.item {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    transition: 0.2s;
    margin-right: 25px;
}

.active {
    border-radius: 0px;
    border-bottom: 3px solid #fff;
    font-weight: 500;
}

.header {
    margin-bottom: 20px;
}
