.container {
    display: flex;
    margin-bottom: 15px;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(92, 209, 63);
}
.preview {
    display: flex;
    flex-direction: column;
    width: 130px;
    margin-right: 25px;
}
.preview img {
    width: 120px;
    margin: 0 auto;

    border-radius: 50%;
    margin-bottom: 5px;
}
.preview button {
    display: inline;

    cursor: pointer;

    text-align: center;
    text-transform: uppercase;
    font-weight: 800;

    padding: 10px 25px;
    margin: 0 auto;

    border-radius: 15px;
    outline: none;
    border: 1px solid #fff;
    background-color: rgb(245, 255, 100);

    transition: 0.3s;
}
.preview button:hover {
    color: rgb(219, 79, 79);
}
.name {
    font-size: 30px;
}
.location {
    font-size: 20px;
}
