.main {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.img {
    width: 150px;
}

.description {
    color: #ffffff;
    font-size: 20px;
    padding: 0 25px;
}
.name {
    margin-top: 0;
}
