.input {
    max-width: 885px;
    width: 100%;
    height: 100px;
    color: #333;
    font-size: 20px;
    padding: 15px;

    border-radius: 15px;

    outline: none;
    resize: none;
}
.btn {
    display: flex;
    position: relative;

    cursor: pointer;
    outline: none;

    background-color: rgb(92, 209, 63);
    border-radius: 5px;

    margin: 10px 3px;
    margin-left: auto;
    padding: 10px 30px;

    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;

    transition: 0.5s;
    border: none;
}

.btn:hover {
    color: rgb(92, 209, 63);
    background: #fff;
}

.item {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background: rgb(235, 112, 112);
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}
.img {
    width: 60px;
    border-radius: 50%;
}
.text {
    word-break: break-all;
    margin: 0px;

    max-width: 800px;
    color: #fff;
    font-size: 20px;
}
