.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: rgb(92, 209, 63);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 0px 0px rgba(92, 209, 63, 0.295);
    margin: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.nav {
    display: flex;
    flex-direction: column;
}
.item {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    transition: 0.5s;
    margin: 2px 0;
}

.item:hover {
    color: rgb(219, 79, 79);
    background-color: rgb(245, 255, 100);
    border-radius: 5px;
}

.active {
    color: rgb(219, 79, 79);
    background-color: rgb(245, 255, 100);
    border-radius: 5px;
}
.friends {
    display: flex;
    align-items: center;
    margin-top: 15px;
    background: rgb(100, 226, 68);
    padding: 5px;
    border-radius: 10px;
}

.friends img {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    outline: none;
    margin-right: 10px;
}
