body {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.app-wrapper {
  display: grid;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 115px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;

  max-width: 940px;
  width: 100%;

  background: rgb(219, 79, 79);
  border-radius: 5px;
  box-shadow: 5px 5px 0px 0px rgba(219, 79, 79, 0.295);

  padding: 25px;
}
