.app-wrapper {
  display: grid;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background: rgb(92, 209, 63);
  padding: 10px;
  border-radius: 5px;
}

.sidebar {
  grid-area: n;
  background: rgb(92, 209, 63);
  padding: 10px;
  grid-auto-flow: column;
  border-radius: 5px;
}

.content {
  grid-area: c;
  padding: 10px;
  background: rgb(219, 79, 79);
  border-radius: 5px;
}

header img {
  width: 80px;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
}
.sidebar-nav__item {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
  transition: 0.5s;
}

.sidebar-nav__item:hover {
  color: rgb(219, 79, 79);
  background-color: rgb(245, 255, 100);
  border-radius: 5px;
}

.content-user {
  padding: 25px;
}
.content-user__main {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.content-user__img {
  width: 150px;
}
.content-user__main-description {
  color: #ffffff;
  font-size: 20px;
  padding: 0 25px;
}
.content-user__main-description__name {
  margin-top: 0;
}
.content-user__post-production {
  color: #ffffff;
  font-size: 20px;
}
.content-user__post-production__input {
  max-width: 900px;
  width: 100%;
  height: 100px;
  color: #333;
  font-size: 20px;
  padding: 15px;

  border-radius: 15px;

  outline: none;
  resize: none;
}
.content-user__post-production__btn {
  display: flex;
  position: relative;

  background-color: rgb(92, 209, 63);
  border-radius: 5px;
  width: 50px;

  margin: 10px 3px;
  margin-left: auto;
  padding: 5px 25px;

  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
.content-user__post-production__btn:hover {
  color: rgb(92, 209, 63);
  background: #fff;
}

.content-user__post-wall__item {
  display: grid;
  grid-template-columns: 1fr 10fr;
  background: rgb(235, 112, 112);
  padding: 15px;
  border-radius: 15px;
  margin-top: 25px;
}
.content-user__post-wall__item-img {
  width: 60px;
}
.content-user__post-wall__item-text {
  margin-top: 0px;
  color: #fff;
  font-size: 20px;
}
